<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加/编辑电影</title>
</head>
<body>
    <h1>添加/编辑电影</h1>
    <form th:action="@{/movies}" th:object="${movie}" method="post">
        <label>标题: <input type="text" th:field="*{title}" /></label><br/><br/>
        <label>导演: <input type="text" th:field="*{director}" /></label><br/><br/>
        <label>国家: <input type="text" th:field="*{country}" /></label><br/><br/>
        <label>时长: <input type="number" th:field="*{duration}" /></label><br/><br/>
        <label>上映年份: <input type="number" th:field="*{releaseYear}" /></label><br/><br/>
        <button type="submit">保存</button>
    </form>
    <br/>
    <a href="/movies">返回电影列表</a>
</body>
</html>